.navbar{
    border-bottom: 1ps solid #0052cc;
}
.login-btn {
  padding: 10px 20px;
  border: none;
  background: #0052cc;
  color: #fff;
  border-radius: 5px;
  margin-right: 15px;
  font-weight: 500;
}
.login-btn:hover {
  box-shadow: 0 0 10px 0px #0052cc;
}
.registration {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1.5px solid #0052cc;
  color: #0052cc;
  font-weight: 600;
}
.registration:hover {
  box-shadow: 3px 2px 3px 0px #0052cc;
}
